* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  /* text-align: center; */
  background-color: radial-gradient(ellipse at center,
      #1d1449 0%,
      #000000 100%);
  background-image: radial-gradient(at center center,
      rgb(29, 20, 73) 0%,
      rgb(0, 0, 0) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  min-height: 100vh;
}

.routing {
  list-style-type: none;

}

.routing ul {
  display: flex;
}

.routing li {
  padding: 20px
}

.routing a {
  text-decoration: none;
  color: azure;
}

.routing a:hover {
  cursor: pointer
}

.usersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  display: block;
  margin: 20px
}

label {
  color: azure;
  margin: 20px
}

span {
  color: azure;
  margin: 20px
}

option {
  color: black;
}

.type-danger {
  border: 2px solid red;
  width: 250px;

}

.type-warning {
  border: 2px solid yellow;
  width: 250px;

}

.type-info {
  border: 2px solid green;
  width: 250px;

}

.form {
  margin-top: 30px;
}